body {
    padding-top: 30px;
}


.sortable_list {
    border: 1px solid #0094ff;
   
}

    .sortable_list li {
        margin: 0 5px 5px 5px;
        font-size: 1.2em;
    }


rowbody{
margin-left: 0px
}


.widget .panel-body {
    padding: 0px;
}

.widget .list-group {
    margin-bottom: 0px;
}

.widget .panel-title {
    display: inline
}

.widget .label-info {
    float: right;
}

.widget li.list-group-item {
    border-radius: 0;
    border: 0;
    border-top: 1px solid #ddd;
}

    .widget li.list-group-item:hover {
        background-color: rgba(86,61,124,.1);
    }

.widget .mic-info {
    color: #666666;
    font-size: 11px;
}

.widget .action {
    margin-top: 0px;
    margin-bottom: px;
}

.widget .comment-text {
    font-size: 12px;
    padding-top: 8px;
}

.widget .btn-block {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.widget .action .btn-block {
    background: #2bc1f2;
    border: none;
    color: #fff;
     width: 100%; 
    font-size: 22px;
    font-weight: bolder;
    padding: 0px 0;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}



.list-group-item:first-child .upbutton {
    display: none;
}

.list-group-item:last-child .downbutton {
    display: none;
}

.dropdown-menu {
    min-width: 20px;
    overflow: visible;
}

.dropdown-menu > li > a {
    line-height: 1.5;

}

.sortable_list {
    overflow-y: scroll;
}

.screen-name{
    font-weight: bold;
    color: steelblue;
}

.time-stamp{
 font-size: 12px;
 color: dimgrey;
}

.span .list-group-item .glyphicon {
    margin-right: 0px;
}

button .btn btn-danger btn-xs {
    margin-right: 0px;
    padding-top: 0px
}

.list-group-item .action .glyphicon {
    margin-right: 0px;
}

.text-body{
    padding-bottom: 10px;
}
imagemovie {
    margin-bottom: 10px;
    margin-top: 10px;
}

.img-responsive {
    margin-top: 10px;
}




