<div class="panel panel-primary">
    <div id="nonSelected">

        <!-- TWO INPUT TAGS -->
        <input id="btnDefault" onclick="moveButton(this)" type="button" class="btn btn-default" value="Default" />
        <input id="btnPrimary" onclick="moveButton(this)" type="button" class="btn btn-primary" value="Primary" />

        <!-- THREE BUTTON TAGS -->
        <button id="btnDanger" onclick="moveButton(this)" type="button" class="btn btn-danger">Danger</button>
        <button id="btnWarning" onclick="moveButton(this)" type="button" class="btn btn-warning">Warning</button>
        <button id="btnSuccess" onclick="moveButton(this)" type="button" class="btn btn-success">Success</button>

    </div>
</div>
<div class="panel panel-primary">
    <div id="selected">

    </div>
</div>

<script>
    function moveButton(elem) {
        if ($(elem).parent().attr("id") == "nonSelected") {
            $(elem).detach().appendTo('#selected');
        }
        else {
            $(elem).detach().appendTo('#nonSelected');
        }
    }
</script>
