<!DOCTYPE html>
<html>

<body>


    <!--Test -->
    <div id="leftsidemenu">
       

  

    </div>
    <!--/Test -->

    @Scripts.Render("~/Scripts/jquery-2.2.4.min.js")

    <script type="text/javascript">
        $(document).ready(function () {
            $('#leftsidemenu').BootSideMenu({
                side: "left",
                closeOnClick: false
            });
        });
    </script>

</body>
</html>

