@{
    ViewBag.Title = "Home Page";
}
<body>
    @if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        <div id="sidepanel">
            <div class="titleside">
                <h2>Social Search</h2>
            </div>
            <div class="list-group">
                <a href="#item-1" class="list-group-item" data-toggle="collapse">Twitter &nbsp;<i class="fa fa-twitter" aria-hidden="true"></i></a>
                <div class="list-group collapse" id="item-1">

                    <form>
                        <div class="form-group1">
                            <label for="search">Search</label>
                            <input type="text" id="twitterSearch" name="search" placeholder="Search here...">
                        </div>

                        <div class="form-group1">
                            <label for="mediafilter">Media Filter</label>
                            <select id="mediafilter" name="mediafilter">
                                <option value="showalltweets">Show All Tweets</option>
                                <option value="mustcontainphoto">Must Contain Photo</option>
                                <option value="mustcontainvideo">Must Contain Video</option>
                                <option value="mustcontainvideoandphoto">Must Contain Video and Photo</option>
                            </select>
                        </div>

                        <div class="form-group1">
                            <label for="language">Language</label>
                            <select id="language" name="language">
                                <option value="">All Languages</option>
                                <option value="am">Amharic (አማርኛ)</option>
                                <option value="ar">Arabic (العربية)</option>
                                <option value="hy">Armenian (Հայերեն)</option>
                                <option value="bn">Bengali (বাংলা)</option>
                                <option value="bg">Bulgarian (Български)</option>
                                <option value="chr">Cherokee (ᏣᎳᎩ)</option>
                                <option value="zh">Chinese (中文)</option>
                                <option value="da">Danish (Dansk)</option>
                                <option value="nl">Dutch (Nederlands)</option>
                                <option value="en">English (English)</option>
                                <option value="fi">Finnish (Suomi)</option>
                                <option value="fr">French (Français)</option>
                                <option value="ka">Georgian (ქართული)</option>
                                <option value="de">German (Deutsch)</option>
                                <option value="el">Greek (Ελληνικά)</option>
                                <option value="gu">Gujarati (ગુજરાતી)</option>
                                <option value="iw">Hebrew (עברית)</option>
                                <option value="hi">Hindi (हिंदी)</option>
                                <option value="hu">Hungarian (Magyar)</option>
                                <option value="is">Icelandic (Íslenska)</option>
                                <option value="in">Indonesian (Bahasa Indonesia)</option>
                                <option value="iu">Inuktitut (ᐃᓄᒃᑎᑐᑦ)</option>
                                <option value="it">Italian (Italiano)</option>
                                <option value="ja">Japanese (日本語)</option>
                                <option value="kn">Kannada (ಕನ್ನಡ)</option>
                                <option value="km">Khmer (ខ្មែរ)</option>
                                <option value="ko">Korean (한국어)</option>
                                <option value="lo">Lao (ລາວ)</option>
                                <option value="lt">Lithuanian (Lietuvių)</option>
                                <option value="ml">Malayalam (മലയാളം)</option>
                                <option value="dv">Maldivian (ދިވެހި)</option>
                                <option value="my">Myanmar (မြန်မာဘာသာ)</option>
                                <option value="ne">Nepali (नेपाली)</option>
                                <option value="no">Norwegian (Norsk)</option>
                                <option value="or">Oriya (ଓଡ଼ିଆ)</option>
                                <option value="pa">Panjabi (ਪੰਜਾਬੀ)</option>
                                <option value="fa">Persian (فارسی)</option>
                                <option value="pl">Polish (Polski)</option>
                                <option value="pt">Portuguese (Português)</option>
                                <option value="ru">Russian (Русский)</option>
                                <option value="si">Sinhala (සිංහල)</option>
                                <option value="es">Spanish (Español)</option>
                                <option value="sv">Swedish (Svenska)</option>
                                <option value="ta">Tamil (தமிழ்)</option>
                                <option value="te">Telugu (తెలుగు)</option>
                                <option value="th">Thai (ไทย)</option>
                                <option value="bo">Tibetan (བོད་སྐད)</option>
                                <option value="tr">Turkish (Türkçe)</option>
                                <option value="ur">Urdu (ﺍﺭﺩﻭ)</option>
                                <option value="vi">Vietnamese (Tiếng Việt)</option>
                            </select>
                        </div>

                        <div class="checkbox1">
                            <label><input type="checkbox"> Include Retweets</label>
                        </div>

                        <div class="search">



                            <button class="btn btn-primary" onclick="runTwitterSearch();" type="button">Search</button>

                        </div>


                        <div class="list-group">
                            <a href="#item-1a" class="list-group-item" data-toggle="collapse">Advanced Search &nbsp;<i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <div class="list-group collapse" id="item-1a">

                                <form1>

                                    <div class="form-group1">
                                        <label for="location">Location</label>
                                        <input type="text" id="search" name="Location" placeholder="City, Zip...">
                                    </div>

                                    <div class="form-group1">
                                        <label for="latitude">Latitude</label>
                                        <input type="text" id="search" name="Latitude" placeholder="">
                                    </div>

                                    <div class="form-group1">
                                        <label for="longitude">Longitude</label>
                                        <input type="text" id="search" name="Longitude" placeholder="">
                                    </div>

                                    <div class="form-group1">
                                        <label for="radius">Radius</label>
                                        <input type="text" id="search" name="Radius" placeholder="">

                                    </div>
                                    <label class="radio-inline">
                                        <input type="radio" name="optradio">Miles
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optradio">Kilometers
                                    </label>


                                    <div class="search">
                                        <button type="submit" class="btn btn-primary">Search</button>
                                    </div>
                                </form1>
                            </div>
                        </div>

                    </form>
                </div>


                <a href="#item-2" class="list-group-item" data-toggle="collapse">Instagram &nbsp;<i class="fa fa-instagram" aria-hidden="true"></i></a>
                <div class="list-group collapse" id="item-2">

                    <form>
                        <div class="form-group1">
                            <label for="search">Search</label>
                            <input type="text" id="search" name="search" placeholder="Search here...">
                        </div>

                        <div class="form-group1">
                            <label for="queryon">Query On</label>
                            <select id="queryon" name="queryon">
                                <option value="hashtag">Hash Tag</option>
                                <option value="user">User</option>
                            </select>
                        </div>

                        <div class="form-group1">
                            <label for="mediafilter">Media Filter</label>
                            <select id="mediafilter" name="mediafilter">
                                <option value="showalltweets">Show All Posts</option>
                                <option value="mustcontainphoto">Must Contain Photo</option>
                                <option value="mustcontainvideo">Must Contain Video</option>
                            </select>
                        </div>


                        <div class="search">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>

                    </form>
                </div>


            </div>

        </div>





    }






    <div class="containercomments">
        <div class="col-xs-12 col-md-6">
            <div class="containercomments1">
                <div class="rowbody">
                    <div class="panel panel-default widget">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-comment"></span>
                            <h3 class="panel-title">
                                Recent Comments
                            </h3>
                            <span class="label label-info">
                                78
                            </span>
                        </div>
                        <div class="panel-body">
                            <div>
                                <div id="twitterSearchDisplayFront" class="sortable_list connectedSortable">
                                    @Html.Partial("_TwitterSearchResultsPartial")


                                    <a href="#" class="btn btn-primary btn-sm btn-block" role="button"><span class="glyphicon glyphicon-refresh"></span> More</a>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 pull-right">
            <div class="containercomments2">
                <div class="rowbody">
                    <div class="panel panel-default widget">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-comment"></span>
                            <h3 class="panel-title">
                                Moderated Comments
                            </h3>
                            <div class="playlist-buttons pull-right">


                                <div class="dropdown">


                                    <buttonplaylist type="button" class="btn btn-primary btn-xs" title="Select Playlist" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-search"></span>
                                        <span class="caret"></span>
                                    </buttonplaylist>

                                    <ul class="dropdown-menu" onchange="runPlaylistSearch();">

                                        @*@Html.Partial("_PlaylistSearchResultsPartial")*@
                                        <li id="playlist1" onclick="runPlaylistSearch(1);"><a href="#">1</a></li>
                                        <li id="playlist2" onclick="runPlaylistSearch(4);"><a href="#">2</a></li>
                                        <li id="playlist3" onclick="runPlaylistSearch(3);"><a href="#">3</a></li>
                                    </ul>

                                    <buttonplaylist type="button" class="btn btn-success btn-xs" title="Export Playlist">
                                        <span class="glyphicon glyphicon-save"></span>
                                    </buttonplaylist>
                                </div>


                            </div>





                        </div>
                        <div class="panel-body">
                            <div id="playlistSearchDisplayFront" class="sortable_list connectedSortable">
                                @*@Html.Partial("_PlaylistSearchResultsPartial")*@


                                <a href="#" class="btn btn-primary btn-sm btn-block" role="button"><span class="glyphicon glyphicon-refresh"></span> More</a>
                                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>



                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>









</body>
